@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #f00;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10000;
  padding: 30px 100px;
}
header .logo {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu li {
  position: relative;
  list-style: none;
  margin-left: 40px;
}
header .menu li a {
  color: #fff;
  text-decoration: none;
}

.slider1 #fwh-section1 {
  height: 100vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider1 #fwh-section1 #controls {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: 0;
  width: 80px;
}
.slider1 #fwh-section1 #controls #sc2 {
  position: relative;
  width: 80px;
  height: 80px;
  background: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider1 #fwh-section1 #controls :hover {
  background: #ffeb3b;
}
.slider1 #fwh-section1 #controls :before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #111;
  border-bottom: 3px solid #111;
  transform: rotate(45deg);
}
.slider1 #fwh-section1 #controls :nth-child(2)::before {
  transform: rotate(225deg);
}
.slider1 #fwh-section3 {
  height: 100vh;
  border: 2px solid yellow;
  background-color: yellow;
}
.slider1 #fwh-section4 {
  height: 100vh;
  border: 2px solid green;
  background-color: green;
}

.slider2 #fwh-section2 {
  height: 100vh;
  border: 2px solid blue;
  background-color: blue;
}